:root {
    --prints-color-blue: #59D5E0;
    --prints-color-light-orange: #F5DD61;
    --prints-color-orange: #FAA300;
    --prints-color-magenta: #F4538A;
}

.first-container {
    position: relative;
}

.mainContent {
    margin: 0 auto 32px;
    padding: 0 46px;
    height: auto;
    z-index: 2;
}

.second-container {
    position: relative;
    display: grid;
    grid-template-areas: "header" "mainContent" "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0,1fr);
    min-height: 100vh;
}

.main-header {
    margin: auto;
    margin-bottom: 30px;
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--prints-color-blue);
}

.main-header img {
    width: 4%;
    height: 4%;
}

.nav-items {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    min-width: 250px;

}

/* .set-margin-link {
    color: black;
} */

.filters {
    margin-bottom: 30px;
}

.prints-cards {
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.card-containers {
    display: grid;
    grid-gap: 23px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-template-rows: auto;
}

.card-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    aspect-ratio: 90/79;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav-menu {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 0;
}

.logo-first-container {
    display: flex;
    align-items: center;
    outline: 0;
}

.logo-span {
    color: var(--prints-color-blue);
    cursor: pointer;
    height: 28px;
    width: 82px;
}

.search-bar {
    /*justify-content: flex-end;*/
    align-items: center;
    width: max-content;
    display: flex;
    padding: 25px;
    border-radius: 50PX;
    background-color: #f6f6f6;
    flex: 1 auto;
    transition: box-shadow 0.25s;
}

.search-bar:focus-within,
.search-bar:hover {
    box-shadow: 0 0 15px rgba(35, 141, 49, 0.75) !important;
}

.search-input {
    font-size: 16px;
    /* font-family: ; */
    color: #333333;
    margin-left: 25px;
    border: none;/*i want to add a border*/
    outline: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

.search-icon {

}

.separator {
    margin-top: 50px;

} 

.footer-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    min-width: 280px;
}

.inside-footer-container {
    margin: 0 -8px;
    overflow: auto; 
}

.inside-footer-container::after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 8px;
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--prints-color-orange);
}

.left-columns {
    float: left;
    width: 50%;
}

.styling-h4 {
    font-weight: 900;
    line-height: 20px;
    margin-bottom: 16px;
}

.styling-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.middle-column {
    width: 25%;
}

.last-column {
    width: 25%;
}

.discord-logo {
    width: 25px;
    height: 25px;
}
.policy {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.tos {
    display: flex;
    flex-wrap: wrap;
}

.list-items {
    margin-right: 32px;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .logo-span {
        color: var(--prints-color-blue);
        height: 32px;
        width: 94px;
        margin-right: 33px;
    }

    .nav-menu {
        height: 72px;
        align-items: center;
    }

    .nav-items-right {
        flex: 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .set-margin-button {
        margin-left: 40px;
        font-size: 15px;
        background-color: var(--prints-color-blue);
        border-radius: 5px;
        border-color: red;
        padding: 8px;
        font-weight: 500;
        box-shadow: rgba(155, 62, 62, 0.1);
    }

    .set-margin-button:hover {
        box-shadow: 2px 2px 2px 2px rgba(33, 13, 36, 0.5);
    }

    .set-margin-link {
        margin-left: 40px;
        font-size: 15px;
        text-decoration: none;
        color: black;
    }
}

@media(min-width: 1024px) {
    .nav-items {
        padding: 0 16px;
        max-width: 1168px;
    }

    .footer-container {
        padding: 0 16px;
        max-width: 1168px;
    }

    .columns {
        width: 25%;
    }

    .first-two-columns {
        width: 50%;
    }

    .policy {
        justify-content: center;
    }

    .main-secion {
        max-width: 1168px;
    }

    .filters {
        -webkit-box-pack: center;
        display: grid;
        gap: 46px;
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
        width: 100%;
    }

}