:root {
    --prints-color-blue: #59D5E0;
    --prints-color-light-orange: #F5DD61;
    --prints-color-orange: #FAA300;
    --prints-color-magenta: #F4538A;
}

.first-container {
    position: relative;
}

.second-container {
    position: relative;
    display: grid;
    grid-template-areas: "header" "mainContent" "content" "footer";
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: minmax(0,1fr);
    min-height: 100vh;
}

.main-header {
    margin: auto; /*added this*/
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--prints-color-blue);
}

.main-header img {
    width: 4%;
    height: 4%;
}

.nav-items {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    min-width: 250px;

}

.nav-menu {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    padding: 16px 0;
}

.logo-first-container {
    display: flex;
    align-items: center;
    outline: 0;
}

.logo-span {
    color: var(--prints-color-blue);
    cursor: pointer;
    height: 28px;
    width: 82px;
}

.search-bar {
    flex: 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .logo-span {
        color: var(--prints-color-blue);
        height: 32px;
        width: 94px;
        margin-right: 33px;
    }

    .nav-menu {
        height: 72px;
        align-items: center;
    }

    .nav-items-right {
        flex: 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .set-margin-button {
        margin-left: 40px;
        font-size: 15px;
        background-color: var(--prints-color-blue);
        border-radius: 5px;
        border-color: red;
        padding: 8px;
        font-weight: 500;
        box-shadow: rgba(155, 62, 62, 0.1);
    }

    .set-margin-link {
        margin-left: 40px;
        font-size: 15px;
        text-decoration: none;
    }
}

@media(min-width: 1024px) {
    .nav-items {
        padding: 0 16px;
        max-width: 1168px;
    }
}